@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

html {
	height: 100%;
	background-color: #11253f;
	min-width: 700px;

}

html, html * {
	font-family: Libre Baskerville;
}

.footer {
	padding: 25px
}

.footer-text {
	font-family: Comic Sans Ms;
	color: #c6c6c6;
	margin: auto;
	text-align: center;
	width: 50%;
	font-size: 0.75em;
	line-height: 1.75em;
}

.source-code-text {
	font-family: Comic Sans Ms;
	color: #9679ff;
}


#input-text-fields {
	/* :: TODO ::
	 * 	make scalability of words look better;
	 * 	keeps on cutting past box
	 */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 20px;
	text-align: left;
}

.output-value {
	text-align: center;
	float: right;
	margin: auto;
}

.body {
	height: 100%;
	width: 90%;
	border-radius: 5px;
	background-image: linear-gradient(#f9f9f9, 80%, #cecece);
	padding: 2.5%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3vw;
}

.inputs-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#truth-table, .table-border {
	border-collapse: collapse;
	width: 15%;
	padding: 2.5%;
	text-align: center;
}

#truth-table *, .table-border * {
	padding: 5px;
	font-size: 100%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
.bolden {
	padding: 5px;
	font-size: 100%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

#truth-table input {
	width: 1em;

}
.standard-border {
	border-style: solid;
	border-color: black;
	border-radius: 5px;
	border-width: 1.5px;
	padding: 1em;
	background-color: rgba(0, 0, 0, .025);
}
.implicant-output, .implicant-output *{
	display: inline;
}

.flex-container-single-output {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.flex-container-sop-pos-container {
	display: flex;
	flex-direction: column;
	wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.flex-container-all-outputs {
	display: flex;
	flex-flow: col wrap;
	align-items: left;
	justify-content: space-between;
	margin: -10px;
}
.flex-container>* {
        flex: 1 1 160px;
        margin: 20px;
}

.green-shade {
	background: rgba(25, 255, 44, 0.35);
}

.red-shade {
	background: rgba(255, 25, 25, 0.35);
}

.grey-shade {
	background: rgba(168, 168, 168, 0.35);
}
