@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

html {
	height: 100%;
/*	background-repeat: no-repeat;
	background-image: linear-gradient(#8d9ec6, 30%, #247191);*/
	background-color: #11253f;
}

html, html * {
	font-family: Libre Baskerville;
}

#input-text-fields {
	/* :: TODO ::
	 * 	make scalability of words look better;
	 * 	keeps on cutting past box
	 */
	padding: 20px;
	width: 15%;
	text-align: left;
}

#input-text-fields *, .output-value {
	text-align: center;
	float: right;
	margin: auto;
}

#genBody {
	height: 100%;
	width: 90%;
	border-radius: 5px;
	background-image: linear-gradient(#f9f9f9, 80%, #cecece);
	padding: 2.5%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3vw;
}

#truth-table, .table-border {
	border-collapse: collapse;
	width: 15%;
	padding: 2.5%;
	text-align: center;
}

#truth-table *, .table-border * {
	padding: 5px;
	font-size: 100%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
.bolden {
	padding: 5px;
	font-size: 100%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

#truth-table input {
	width: 1em;

}
.standard-border {
	border-style: solid;
	border-color: black;
	border-radius: 5px;
	border-width: 1.5px;
	padding: 1em;
	background-color: rgba(0, 0, 0, .025);
}


.flex-container-single-output {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.flex-container-sop-pos-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.flex-container-all-outputs {
	display: flex;
	flex-flow: col wrap;
	align-items: left;
	justify-content: space-between;
	margin: -10px;
}
.flex-container>* {
        flex: 1 1 160px;
        margin: 20px;
      }
